# Ignorar dependências do Maven (Spring Boot)
target/
*.log

# Ignorar arquivos de build do Gradle (caso utilize Gradle ao invés de Maven)
build/
.gradle/
*.gradle

# Ignorar dependências do Node.js (Angular)
node_modules/

# Ignorar arquivos do npm (como logs e caches)
npm-debug.log
package-lock.json
yarn.lock

# Ignorar diretórios e arquivos do Angular
/dist/
/.angular/

# Ignorar arquivos temporários do IDE
.idea/
*.iml
.vscode/

# Ignorar arquivos de configurações locais do IntelliJ
*.iws

# Ignorar arquivos de configurações locais do Eclipse
.project
.classpath

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
